<table *ngIf="schedules.length > 0" class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th>Ticket Type</th>
      <th>Arrival Time</th>
      <th>Departure Time</th>
      <th>Journey Time</th>
      <th>Stops</th>
      <th> ID</th>
      <th> Name</th>
      <th> Capacity</th>
      <th> Action <th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let schedule of schedules">
      <td>{{ schedule.id }}</td>
      <td>{{ schedule.ticketType }}</td>
      <td>{{ schedule.arrivalTime }}</td>
      <td>{{ schedule.departureTime }}</td>
      <td>{{ schedule.journeyTime }}</td>
      <td>{{ schedule.stops }}</td>

      <td *ngIf="schedule.busDto">{{ schedule.busDto.id }}</td>
      <td *ngIf="schedule.busDto">{{ schedule.busDto.name }}</td>
      <td *ngIf="schedule.busDto">{{ schedule.busDto.capacity }}</td>
      <td *ngIf="schedule.busDto">{{ schedule.busDto.fare }}</td>

      <td *ngIf="schedule.trainDto">{{ schedule.trainDto.id }}</td>
      <td *ngIf="schedule.trainDto">{{ schedule.trainDto.name }}</td>
      <td *ngIf="schedule.trainDto">{{ schedule.trainDto.capacity }}</td>
      <td *ngIf="schedule.trainDto">{{ schedule.trainDto.fare }}</td>

      <td *ngIf="schedule.planeDto">{{ schedule.planeDto.id }}</td>
      <td *ngIf="schedule.planeDto">{{ schedule.planeDto.name }}</td>
      <td *ngIf="schedule.planeDto">{{ schedule.planeDto.capacity }}</td>
      <td *ngIf="schedule.planeDto">{{ schedule.planeDto.fare }}</td>
      <td>
        <button (click)="confirmBooking()" class="btn btn-primary">        
          Book
        </button>
      </td>
    </tr>
  </tbody>
</table>