<table *ngIf="tickets.length > 0" class="table table-striped">
    <thead>
      <tr>
        <th>Ticket Id</th>
        <th>Ticket Type</th>
        <th>Total Passengers</th>
        <th>Source Name</th>
        <th>Destination Name</th>
        <th>DepartureDate</th>     
        
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let ticket of tickets">
        <td>{{ ticket.id }}</td>        
        <td>{{  getTicketTyoe(ticket.ticketType) }}</td>
        <td>{{ ticket.totalPassengers }}</td>
        <td>{{ ticket.sourceName }}</td>
        <td>{{ ticket.destinationName }}</td>
        <td>{{ ticket.departureDate | date }}</td>
       
      </tr>
    </tbody>
  </table>